<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.androidproject.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.androidproject.AddImmoActivity"
            android:label="@string/title_activity_add_immo" >
            <intent-filter>
                <action android:name="android.intent.action.AddImmoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.androidproject.ConsultationActivity"
            android:label="@string/title_activity_consultation" >
        </activity>
        <activity
            android:name="com.example.androidproject.AddRefLocationActivity"
            android:label="@string/title_activity_add_ref_location" >
        </activity>
        <activity
            android:name="com.example.androidproject.PhotoIntentActivity"
            android:label="@string/title_activity_photo_intent" >
            <intent-filter>
                <action android:name="android.intent.action.PhotoIntentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.androidproject.SoundRecorder"
            android:label="@string/title_activity_sound_recorder" >
             <intent-filter>
                <action android:name="android.intent.action.SoundRecorder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
